// Welcome to Compass.
// In this file you should write your main styles. (or centralize your imports)
// Import this file using the following HTML or equivalent:
// <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
@import 'var/base';

@import 'font-awesome/font-awesome';

body {
    background-color: $base-background-color;
    color: $base-text-color;

    transition: all 0.5s;

    a {
        color: $base-link-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &.dark {
        background-color: $base-text-color;
        color: $base-background-color;

        .social-media .social-media-links, .copyright {
            color: invert($inactive-social-link-color);

            a:hover {
                color: $base-background-color;
            }
        }

        .portfolio-item {
            box-shadow: 0 0 4px rgba(255, 255, 255, .7);

            .content h2 .gh-logo, {
                color: invert($inactive-social-link-color);

                &:hover {
                    color: invert($base-color);
                }
            }
        }
    }

    // Fonts
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;

    padding: 0;

    h1,h2,h3,h4,h5,h6 {
        text-align: center;
        font-family: $base-header-font-family;
    }

    &.monospace {
        font-family: $fixed-font-family;
        font-size: $fixed-font-size;
        line-height: $fixed-line-height;

        h1,h2,h3,h4,h5,h6 {
            font-family: $fixed-font-family !important;
        }
    }
}

header.main-header {
    margin-bottom: 30px;

    h1.name-display {
        margin: 0;
    }

    h2.title {
        margin: 5px;
        font-family: $base-light-font-family;
    }
}

.center {
    max-width: 800px;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.construction-warning {
    background-color: #FFFD85;
    padding: 15px;
    border: 1px solid black;
    color: $base-text-color;
}

.social-media {
    border-top: 1px solid gray;
    padding: 20px 0 15px 0;

    .social-media-links {
        color: $inactive-social-link-color;

        a {
            font-size: $base-font-size * 2.5;
            color: inherit;
            text-decoration: none;
            margin: 5px 10px;
            transition: color 0.5s;

            &:hover {
                color: $base-color;
            }
        }
    }
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url('../images/profile-pic.jpg') no-repeat;
    background-size: 300px 300px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    margin: 30px auto;

    img {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.copyright {
    margin-top: 30px;
    font-size: $base-font-size * 0.8;
    color: lighten($base-color, 35%);
}

.profile-widget-wrapper {
    .github-widget-wrapper {
        box-shadow: 0 0 3px rgba(0,0,0,.2);
        margin: 20px;
        float: left;

        .github-widget {
            border: 1px solid #efefef;
        }
    }

    .so-widget {
        margin: 20px;
        float: right;
        width: 350px;
    }
}

.clear-wrapper:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
}

.portfolio-item {
    border: 1px solid lighten(black, 80%);
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);

    margin: 30px 45px;
    padding: 10px;

    img {
        float: left;
        width: 25%;
        box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    }

    .content {
        width: 70%;
        float: right;
        text-align: left;

        h2 {
            text-align: left;
            margin-bottom: 10px;

            .gh-logo {
                text-decoration: none;
                color: $inactive-social-link-color;
                font-size: 1.3em;
                margin: 0 10px;

                transition: color 0.5s;

                &:hover {
                    color: $base-color;
                }
            }

            .dates {
                float: right;
                font-size: 0.6em;
                line-height: 2.3333em;
            }
        }

        h3 {
            text-align: left;
            margin-top: -10px;

            font-family: $base-light-font-family;
        }

        .tags {
            margin-bottom: 10px;

            .tag-label {
                font-weight: $bold;
            }

            span:not(.tag-label) {
                color: black;
                font-family: $fixed-font-family;
                background-color: lighten($base-link-color, 30%);
                padding: 3px 5px;
            }
        }

        .live-demo {
             font-size: 1.3em;
        }
    }
}
