@import 'compass';

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Font Imports
@font-face {
    font-family: 'Open Sans Light';
    src: font-files('OpenSans-Light.woff', 'OpenSans-Light.ttf', 'OpenSans-Light.eot');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: font-files('OpenSans-Regular.woff', 'OpenSans-Regular.ttf', 'OpenSans-Regular.eot');
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: font-files('OpenSans-Semibold.woff', 'OpenSans-Semibold.ttf', 'OpenSans-Semibold.eot');
}

@font-face {
     font-family: 'Iosevka Term';
     src: font-files('Iosevka-Term.woff', 'Iosevka-Term.ttf', 'Iosevka-Term.eot');
}

// Base Font
$backup-font-family: Arial, sans-serif;
$base-font-family: 'Open Sans Regular', $backup-font-family;
$base-bold-font-family: 'Open Sans Semibold', $backup-font-family;
$base-header-font-family: 'Open Sans Semibold', $backup-font-family;
$base-light-font-family: 'Open Sans Light', $backup-font-family;
$social-font-family: 'Font Awesome';
$base-font-size: 13px;
$base-font-weight: $regular;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: 'Iosevka Term', monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

// Base Colors
$base-color: rgb(0, 0, 0);
$base-link-color: #1476FF;
$base-text-color: lighten($base-color, 20%);
$base-background-color: lighten($base-color, 100%);
$inactive-social-link-color: lighten($base-color, 35%);
